@import '/src/app.scss';

.activityWrapper {
  .pane {
    padding: 5px;
    background-color: #fafbfc;
    text-align: center;
  }
  :global {
    .at-tabs__item--active {
      background-color: #f1f1f1;
    }
  }
}
.activityInvolvedListWrapper,
.activityListWrapper,
.activityCanListWrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 246px - env(safe-area-inset-bottom));
  padding-bottom: env(safe-area-inset-bottom);
  .list {
    flex: 1;
    overflow-y: auto;
    .content {
      margin-bottom: 20px;
    }
  }
  .pagination {
    margin-top: 30px;
  }
}

.activityListWrapper {
  height: calc(100vh - env(safe-area-inset-bottom));
}

.activityGameContent {
  text-align: start;
  .isInvolved {
    text-align: center;
    color: $color-success;
  }
  .btn {
    width: fit-content;
    padding: 0 50px;
  }
  .btnDel,
  .btnExit {
    border: 1px solid #ff4949;
    background: #ff4949;
  }
}

.activityFormWrapper {
  padding: 30px;
  .formItem {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    .formLeft {
      min-width: 160px;
    }
    .formRight {
      flex: 1;
      margin-left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .btn {
        margin: 0;
      }
    }
    .game {
      color: #000;
      .text {
        color: rgb(190, 190, 190);
      }
    }
  }
  .picker {
    flex: 1;
    color: rgb(190, 190, 190);
    .text {
      color: #000;
    }
  }
}

.activityDetail {
  text-align: start;
}
